# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build files without extensions

# Allow only specific files and directories
./C++/Striver-A2Z-Sheet/Step-0-Runner/
./C++/Striver-A2Z-Sheet/Step-0-Runner/output.txt
./C++/Striver-A2Z-Sheet/Step-0-Runner/input.txt
./C++/Striver-A2Z-Sheet/Step-0-Runner/demo.cpp
